<div class="row">
  <div class="col-sm-2 ml-sm-auto cartLink">
    {{#link-to 'cart'}}
      <span onClick={{action "handleResetForm"}}>
        ({{cart.count}})Cart
      </span>
    {{/link-to}}
  </div>
</div>
